<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=WellnessManagementFramework;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString1"
            connectionString="Data Source=POULOMEE-PC;Initial Catalog=WellnessManagementFrameworkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString2"
            connectionString="Data Source=NILESH-BHOR-PC\SQLExpress;Initial Catalog=WellnessManagementFrameworkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString3"
            connectionString="Data Source=192.168.0.5;Initial Catalog=WellnessManagementFrameworkDB;User ID=cennest"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString4"
            connectionString="Data Source=192.168.0.10;Initial Catalog=WellnessManagementFrameworkDB;Persist Security Info=True;User ID=cennest;Password=cennest"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDB1ConnectionString"
            connectionString="Data Source=192.168.0.9;Initial Catalog=WellnessManagementFrameworkDB1;Persist Security Info=True;User ID=cennest;Password=cennest"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString5"
            connectionString="Data Source=192.168.0.9;Initial Catalog=WellnessManagementFrameworkDB;Persist Security Info=True;User ID=cennest;Password=cennest"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString6"
            connectionString="Data Source=192.168.0.4;Initial Catalog=WellnessManagementFrameworkDB;Persist Security Info=True;User ID=cennest;Password=cennest"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString7"
            connectionString="Data Source=192.168.0.21;Initial Catalog=WellnessManagementFrameworkDB;Persist Security Info=True;User ID=cennest;Password=cennest"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>