<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString"
            connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=WellnessManagementFrameworkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DatabaseEntities.Properties.Settings.WellnessManagementFrameworkDBConnectionString1"
            connectionString="Data Source=POULOMEE-PC;Initial Catalog=WellnessManagementFrameworkDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>